* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    letter-spacing: 0.1px;
}

#rec1 {
    width: 350px;
    height: 350px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    border: 1.5px solid #CCC;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#rec2 {
    width: 350px;
    height: 63px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: 1.5px solid #CCC;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#rec1 .logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

form {
    width: 100%;
    text-align: center;
    margin-top: 140px;
}

#rec1 .username,
#rec1 .password {
    width: 260px;
    height: 36px;
    margin: 5px 0;
    border: 1.5px solid #CCC;
    padding-left: 10px;
    background: rgba(204, 204, 204, 0.1);
    font-family: "Segoe UI";
    letter-spacing: 0.16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.submit {
    width: 260px;
    height: 36px;
    justify-content: center;
    border: 0 solid #3eabe4;
    border-radius: 6px;
    background: #3eabe4;
    color: #fff;
    font-weight: 700;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.dont-have-acc {
    padding-left: 55px;
    font-family: "Segoe UI";
    letter-spacing: 0.16px;
    line-height: 60px;
}

.signup {
    padding: 12px;
    text-align: left;
    color: #3eabe4;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0.16px;
    text-decoration: none;
}