* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    letter-spacing: 0.1px;
}

#signup-rec1 {
    width: 400px;
    height: 440px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    border: 1.5px solid #CCC;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#signup-rec2 {
    width: 400px;
    height: 63px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: 1.5px solid #CCC;
    flex-direction: row;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#signup-rec1 .logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#signup-rec1 .type-signup {
    width: 250px;
    margin-top: 220px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#signup-rec1 .email,
#signup-rec1 .username,
#signup-rec1 .password {
    width: 250px;
    height: 36px;
    padding-left: 10px;
    border: 1.5px solid #CCC;
    margin-bottom: 10px;
    background: rgba(204, 204, 204, 0.1);
    color: #8D8D8D;
    font-family: "Segoe UI";
    font-weight: 400;
    letter-spacing: 0.16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#signup-rec1 .signup {
    width: 250px;
    height: 40px;
    margin-top: 350px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 6px;
    background-color: #3eabe4;
    color: #fff;
    font-family: Segoe UI;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.have-an-acc {
    margin-left: auto;
    font-family: "Segoe UI";
    letter-spacing: 0.16px;
    line-height: 60px;
}

.login {
    margin-right: auto;
    padding: 10px;
    color: #3eabe4;
    font-size: 16px;
    font-family: Segoe UI;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.16px;
    text-decoration: none;
}